extends layout

block content
  p Hello anon!
  
  form(action='/' enctype='multipart/form-data' method='POST') 
    legend Upload anything you want here
    br
    label(for='thefile') Select a file:
    input#thefile(type='file' name='thefile')
    br
    br
    input(type="submit", value="Submit", class="btn btn-primary")

  //- form(action='/' enctype='multipart/form-data' method='POST')
  //-   input#thefile.admin__input(type='file' name='thefile')
  //-   input.admin__submit(type='submit')
