extends layout

block content
  if msg
    p.center-align #{msg}

  if user != 'Public'
    h1.center-align Hello #{user}
  else
    h1.center-align Hello anon!
   
  form(action='/' enctype='multipart/form-data' method='POST') 
    p.center-align Upload anything you want here
    br
    .divider
    .file-field.input-field
      .btn
        span Choose File
        input(type='file' name='drops')
      .file-path-wrapper
        input.file-path.validate(type='text')
    .divider
    p.center-align
      button.btn.waves-effect.waves-light.center-align(type='submit' name='action') Upload
   
