extends layout

block content
  p Hello anon!

  //- h3 Show a file-select field which allows only one file to be chosen:
  //- form(method="POST" action='')
  //-   label(for='myFile') Select a file:
  //-   input#myfile(type='file' name='myfile')
  //-   br
  //-   br
  //-   p.buttons
  //-     input(type="submit", value="Submit", class="btn btn-primary")

  form(action='/' enctype='multipart/form-data' method='POST')
    input#avatar.admin__input(type='file' name='avatar')
    input.admin__submit(type='submit')


